#search-button {
    -fx-background-image: url('../images/searchIcon.png');
    -fx-background-size: 45px;
    -fx-background-position: center;
}

#goback-button {
    -fx-background-image: url('../images/goBackIcon.png');
    -fx-background-size: 60px;
    -fx-background-position: center;
}

#mainpage-gridpane{
    -fx-background-color: white;
}

#single-book-gridpane{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-radius: 30px;
}

#single-book-scrollpane{
    -fx-background-color: white;
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
}

#single-book-vbox{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-radius: 30px;
}

#cart-scrollpane{
    -fx-background-color: white;
    -fx-border-color: white;
}

#cart-gridpane{
    -fx-background-color: white;
    -fx-border-color: white;
}

#librocards-scrollpane{
    -fx-background-color: white;
    -fx-border-color: white;
}

#removefromcart-button{
    -fx-background-color: red;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

#checkout-button{
    -fx-background-color: #3CB371;
    -fx-text-fill: white;
    -fx-font-size: 25;
}

#ordersummary-scrollpane{
    -fx-background-color: white;
    -fx-border-color: white;
}

#booksincart-scrollpane{
    -fx-background-color: white;
    -fx-border-color: white;
}